.binary-explorer table {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 2px;
}

.no-border {
  border: none !important;
}

.binary-explorer tr,
.binary-explorer thead {
  width: auto;
}

.binary-explorer .code {
  font-family: monospace;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.binary-explorer .byte {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  cursor: pointer;

  font-size: 1.1em;
  font-family: monospace;
  text-align: center;
  
  border-style: solid !important;
  border-left: 3px black solid;

  transition: background-color .2s, color .2s;
  transition-timing-function: ease-out;
}

.tippy-content .head-border-left {
  border-left: 3px black solid;
  padding-left: 5px;
}

.binary-explorer #magic-header-anchor,
.binary-explorer .magic-header,
.tippy-content .magic {
  border-left-color: #B07AD5 !important;
}

.binary-explorer #magic-header-anchor.tt-active,
.binary-explorer #magic-header-anchor:hover,
.binary-explorer #magic-header-anchor:focus,
.binary-explorer .magic-header:hover,
.binary-explorer .magic-header.tt-active {
  background: #570290;
  color: white;
}

.tippy-content .constantpool {
  border-left-color: #D70500;
}

.binary-explorer #constantpool-origin-anchor,
.binary-explorer .constantpool-origin  {
  border-left-color: #FF8E8B !important;
}

.binary-explorer #constantpool-origin-anchor:focus,
.binary-explorer #constantpool-origin-anchor:hover,
.binary-explorer #constantpool-origin-anchor.tt-active,
.binary-explorer .constantpool-origin:hover,
.binary-explorer .constantpool-origin.tt-active {
  background: #D70500;
  color: white;
}

.binary-explorer #constantpool-size-anchor,
.binary-explorer .constantpool-size {
  border-left-color: #FF4944 !important;
}

.binary-explorer #constantpool-size-anchor:focus,
.binary-explorer #constantpool-size-anchor:hover,
.binary-explorer #constantpool-size-anchor.tt-active,
.binary-explorer .constantpool-size:hover,
.binary-explorer .constantpool-size.tt-active {
  background: #D70500;
  color: white;
}

.binary-explorer #constantpool-data-anchor,
.binary-explorer .constantpool-data {
  border-left-color: #FF0801 !important;
}

.binary-explorer #constantpool-data-anchor:focus,
.binary-explorer #constantpool-data-anchor:hover,
.binary-explorer #constantpool-data-anchor.tt-active,
.binary-explorer .constantpool-data:hover,
.binary-explorer .constantpool-data.tt-active {
  background: #D70500;
  color: white;
}

.tippy-content .text {
  border-left-color:#447FCF ;
}

.binary-explorer #text-origin-anchor,
.binary-explorer .text-origin {
  border-left-color: #7BA1D4 !important;
}

.binary-explorer #text-origin-anchor:focus,
.binary-explorer #text-origin-anchor:hover,
.binary-explorer #text-origin-anchor.tt-active,
.binary-explorer .text-origin:hover,
.binary-explorer .text-origin.tt-active {
  background: #033D8D;
  color: white;
}

.binary-explorer #text-size-anchor,
.binary-explorer .text-size {
  border-left-color: #447FCF !important;
}

.binary-explorer #text-size-anchor:focus,
.binary-explorer #text-size-anchor:hover,
.binary-explorer #text-size-anchor.tt-active,
.binary-explorer .text-size:hover,
.binary-explorer .text-size.tt-active {
  background: #033D8D;
  color: white;
}

.binary-explorer #text-data-anchor,
.binary-explorer .text-data {
  border-left-color: #1466D7 !important;
}

.binary-explorer #text-data-anchor:focus,
.binary-explorer #text-data-anchor:hover,
.binary-explorer #text-data-anchor.tt-active,
.binary-explorer .text-data:hover,
.binary-explorer .text-data.tt-active {
  background: #033D8D;
  color: white;
}

.binary-explorer .hex-col-th,
.binary-explorer .hex-row {
  padding: .2em;
  font-size: .8em;
  font-weight: normal;
  background-color: transparent;
}

.tippy-box {
  opacity: 0.95;
}

.tippy-content pre,
.tippy-content code {
  border-radius: 3px;
  background-color: snow;
  color: #111;
}

.tippy-content h4 {
  margin-top: 15px;
}
.tippy-content a {

  color: inherit;
  text-decoration: underline;
}
.binary-explorer .hex-col-th {
  padding-bottom: 0;
  text-align: center;
}

.binary-explorer .hex-row {
  text-align: right;
  width: .1em;
}

[data-tippy-root] {
  overflow: hidden;
}
