<div id="binary-explorer-container" style="overflow: visible;">
  <style scoped>
    @import url('../binaryexplorer/css/index.css');
  </style>
  <script src="../binaryexplorer/js/index.min.js"></script>

  <div>
    <h3>Binary Explorer</h3>

    <p>
      To make this process somewhat easier, here's a visual guide for
      an example program Press the
      bytes to view their role.
    </p>

    <blockquote>
      <strong>NOTE:</strong>
      <p>
        The entire file is in <strong>BIG-ENDIAN</strong>, while your
        computers work in <strong>LITTLE-ENDIAN</strong>.
        TL;DR Endianness is about byte ordering.
        Whether <code>[0x01, 0x00, 0x00, 0x00]</code> should be <code>1</code>
        or <code>0x01000000</code>, big endian means the first byte is the biggest, little
        endian means the first byte is the smallest.
        <br>
        <a href="https://en.wikipedia.org/wiki/Endianness" target="_blank">[more info] &rarrhk;</a>
      </p>
    </blockquote>
  </div>

  <div class="binary-explorer">
    <div style="overflow-x: scroll;">
      <table>
        <thead>
          <th class="no-border hex-col-th">&nbsp;</th>
          <th class="no-border hex-col-th">0</th>
          <th class="no-border hex-col-th">1</th>
          <th class="no-border hex-col-th">2</th>
          <th class="no-border hex-col-th">3</th>
          <th class="no-border hex-col-th">4</th>
          <th class="no-border hex-col-th">5</th>
          <th class="no-border hex-col-th">6</th>
          <th class="no-border hex-col-th">7</th>
        </thead>

        <tbody>
          <tr>
            <td class="no-border hex-row">0</td>

            <td class="magic-header byte">1D</td>
            <td class="magic-header byte">EA</td>
            <td class="magic-header byte">DF</td>
            <td tabindex=0 id="magic-header-anchor" class="byte">AD</td>

            <td class="constantpool-origin byte">00</td>
            <td class="constantpool-origin byte">01</td>
            <td class="constantpool-origin byte">00</td>
            <td tabindex=0 id="constantpool-origin-anchor" class="byte">00</td>
          </tr>

          <tr>
            <td class="no-border hex-row">8</td>

            <td class="constantpool-size byte">00</td>
            <td class="constantpool-size byte">00</td>
            <td class="constantpool-size byte">00</td>
            <td tabindex=0 id="constantpool-size-anchor" class="byte">0C</td>

            <td class="constantpool-data byte">FF</td>
            <td class="constantpool-data byte">FF</td>
            <td class="constantpool-data byte">FF</td>
            <td class="constantpool-data byte">FF</td>
          </tr>

          <tr>
            <td class="no-border hex-row">16</td>

            <td class="constantpool-data byte">00</td>
            <td class="constantpool-data byte">00</td>
            <td class="constantpool-data byte">00</td>
            <td class="constantpool-data byte">02</td>

            <td class="constantpool-data byte">00</td>
            <td class="constantpool-data byte">00</td>
            <td class="constantpool-data byte">00</td>
            <td tabindex=0 id="constantpool-data-anchor" class="byte">03</td>
          </tr>

          <tr>
            <td class="no-border hex-row">24</td>

            <td class="text-origin byte">00</td>
            <td class="text-origin byte">00</td>
            <td class="text-origin byte">00</td>
            <td tabindex=0 id="text-origin-anchor" class="byte">00</td>

            <td class="text-size byte">00</td>
            <td class="text-size byte">00</td>
            <td class="text-size byte">00</td>
            <td tabindex=0 id="text-size-anchor" class="byte">0F</td>
          </tr>

          <tr>
            <td class="no-border hex-row">32</td>

            <td class="text-data byte">10</td>
            <td class="text-data byte">70</td>
            <td class="text-data byte">59</td>
            <td class="text-data byte">10</td>

            <td class="text-data byte">FF</td>
            <td class="text-data byte">60</td>
            <td class="text-data byte">59</td>
            <td class="text-data byte">59</td>
          </tr>

          <tr>
            <td class="no-border hex-row">40</td>

            <td class="text-data byte">10</td>
            <td class="text-data byte">FF</td>
            <td class="text-data byte">64</td>
            <td class="text-data byte">FD</td>

            <td class="text-data byte">FD</td>
            <td class="text-data byte">FD</td>
            <td tabindex=0 id="text-data-anchor" class="byte">FD</td>
            <td class="no-border">&nbsp;</td>
          </tr>
          <tr>
            <td class="no-border">&nbsp;</td>
            <td colspan="4">
              <a href="../binaryexplorer/example.jas" target="_blank">JAS file &rarrhk;</a>
            </td>
            <td colspan="4">
              <a href="../binaryexplorer/example.ijvm" target="_blank">IJVM file &rarrhk;</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="display: none;">
    <div role="tooltip" id="magic-explanation">
      <h4 class="head-border-left magic">Section: File Header</h4>

      <p>
        Every file starts off with a small file header, especially for binaries
        these are often used to specify size/position of the parts of the binary.
      </p>

      <p>
        The IJVM header is rather simple, containing no real meta data, like
        ELF-binaries do.
      </p>
    </div>

    <div role="tooltip" id="magic-header-explanation">
      <h3>Magic Bytes [4 bytes]</h3>
      <p>
        The first 4 bytes of the file are the constant value <code>1DEADFAD</code>,
        This is to identify the file as being an IJVM executable.
        You'll find that all sorts of files, like pictures, start with a
        constant number of bytes.
      </p>

      <p>
        This custom is called MIME typing, and is used as both a way to
        identify the exact filetype, and to ensure you're not trying to run
        a file of the wrong type.
      </p>

      <strong>NOTE:</strong>
      <p>
        If you want to avoid a bunch of headaches, check this
        value before continuing, or you might end up in a rather weird
        debug session for trying to execute a jas file.
      </p>
    </div>

    <div role="tooltip" id="constantpool-explanation">
      <h4 class="head-border-left constantpool">Section: Constant Pool</h4>
      <p>
        This is where the IJVM stores all of its constants, similar
        to read-only memory. The idea is to store large numbers/very
        distinct numbers here constants here.
      </p>
    </div>

    <div role="tooltip" id="constantpool-origin-explanation">
      <h3>Constant Pool Origin [4 bytes]</h3>
      <p>
        The first 4 bytes of the constant pool block represent the place
        the constant pool has to be "mapped in", into memory. In this case
        that's the address <code>0x00010000</code>.
      </p>
      <p>
        Binaries need to know where to find the constant they want,
        which for most assembly languages is given in an absolute address.
        E.g. <code>0x00010004</code>, the computer will then directly read
        from there.
      </p>

      <strong>NOTE:</strong>
      <p>
        IJVM instructions that deal with constants actually work with an
        offset from the start of the constant pool, rather than absolute
        addresses. As such you don't really need to take this number into
        account.
      </p>
    </div>

    <div role="tooltip" id="constantpool-size-explanation">
      <h3>Constant Pool Size [4 bytes]</h3>
      <p>
        This is simply the number of bytes in this block
        <emph>excluding</emph> the origin and size.
      </p>
      <p>In this case, this is: 0xc or 12 in decimal</p>
    </div>

    <div role="tooltip" id="constantpool-data-explanation">
      <h3>Constant Pool Data [<code>constantPoolSize</code> bytes]</h3>

      <p>
        The actual constants, 32 bit signed integers (<a target="_blank" href="https://en.wikipedia.org/wiki/Two's_complement">two's complement</a>),
        since these are 4-bytes a piece, there are 12/4 = 3 constants here, these are:
      <p>
      </p>

      <pre>0xffffffff = -1
0x00000002 =  2
0x00000003 =  3</pre>
    </div>

    <div role="tooltip" id="text-explanation" class="off">
      <h4 class="head-border-left text">Section: Text</h4>
      <p>
        Text is the section in the binary with the actual machine code,
        the translated assembly.
      </p>
    </div>

    <div role="tooltip" id="text-origin-explanation">
      <h3>Text Origin [4 bytes]</h3>
      <p>
        This is really just the same story as the constant pool's origin
      </p>
      <strong>NOTE:</strong>
      <p>
        For the debugger bonus, you set a breakpoint on the virtual
        address, an absolute value, which you'll need to have read here.
      </p>
    </div>

    <div role="tooltip" id="text-size-explanation">
      <h3>Text Size [4 bytes]</h3>
      <p>
        IJVM assembly is variable sized, some instructions take arguments
        and take up more space than others. As such this number is not the
        same as the amount of instructions total.
      </p>
    </div>

    <div role="tooltip" id="text-data-explanation">
      <h3>Actual Program [<code>textSize</code> bytes]</h3>
      <p>
        This will be the code your program will execute, we've
        written out the instructions that these bytes represent with
        their opcodes below:
      <p>
      <pre>.main
 BIPUSH 0x70  // 10 70
 DUP          // 59
 BIPUSH 0xff  // 10 ff
 IADD         // 60
 DUP          // 59
 DUP          // 59
 BIPUSH 0xff  // 10 ff
 ISUB         // 64
 OUT          // fd
 OUT          // fd
 OUT          // fd
 OUT          // fd
.end-main</pre>
    </div>
  </div>

  <script>
    $(function () {
      /* Code required to show the appropriate explanations */
      var blocks = ["magic", "constantpool", "text"]
      var headings =
        ["magic-header",
          "constantpool-origin", "constantpool-size", "constantpool-data",
          "text-origin", "text-size", "text-data"];
      var container = document.getElementById('book-search-results');

      headings.forEach(function (heading) {
        var headId = '#' + heading + '-anchor'
        var headClass = '.' + heading

        var headExplanationEl = document.getElementById(heading + '-explanation');
        var blockExplanationEl = document.getElementById(heading.split('-')[0] + '-explanation');

        var triggers = $(headClass + ',' + headId).toArray();

        var tipp = tippy(headId, {
          // appearance
          appendTo: document.body,
          // appendTo: container,
          placement: 'bottom',
          flip: true,
          maxWidth: 500,
          // tooltip content
          content: blockExplanationEl.innerHTML + headExplanationEl.innerHTML,
          allowHTML: true,
          // behavior
          trigger: 'click',
          interactive: true,
          // interactive: notMobile,
          // callbacks
          onShow(instance) {
            $(headId).addClass("tt-active");
            $(headClass).addClass("tt-active");
          },
          onHide(instance) {
            $(headId).removeClass("tt-active");
            $(headClass).removeClass("tt-active");
          },
          triggerTarget: triggers,
        })[0];

        var enterHoverBlock = function (e) {
          e.stopPropagation();
          e.stopImmediatePropagation();
          if (!tipp.state.isVisible) {
            $(headId).addClass("tt-active");
            $(headClass).addClass("tt-active");
          }
        }

        var exitHoverBlock = function (e) {
          e.stopPropagation();
          e.stopImmediatePropagation();
          if (!tipp.state.isVisible) {
            $(headId).removeClass("tt-active");
            $(headClass).removeClass("tt-active");
          }
        }

        $(headClass).on({
          mouseenter: enterHoverBlock,
          mouseleave: exitHoverBlock
        });

        $(headId).on({
          mouseenter: enterHoverBlock,
          mouseleave: exitHoverBlock,
          blur: function (e) {
            e.stopPropagation();
            e.stopImmediatePropagation();
            tippy.hideAll();
          },
          keypress: function (e) {
            e.stopPropagation();
            e.stopImmediatePropagation();
            var key = e.which;
            if (key == 13/*ENTER*/) {
              tippy.hideAll({ exclude: tipp });
              // tipp.show();
              $(headId).trigger('click');
              return false;
            }
          },
        });
      });
    });
  </script>
</div>